# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# VSCode 설정
.vscode/

# 환경 설정 파일
.env
*.env

# 파이썬 가상환경
venv/
.env/
.venv/

# 테스트 결과
coverage/
*.cover
*.py,cover

# pip 환경 캐시
pip-log.txt

# mypy, pylint 등
.mypy_cache/
.pytest_cache/